---
const { image, title, description } = Astro.props;
---

<div class="card">
    <img src={image} alt="Imagem do Card" class="card-image" />
    <div class="card-content">
        <h1 class="card-title">{title}</h1>
        <p class="card-description">{description}</p>
    </div>
</div>

<style lang="scss">
    $card-width: 18.75rem;
    $card-border-radius: 0.938rem;
    $card-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    $card-margin: 1.25rem auto;

    $card-image-widht: 100%;
    $card-image-height: 12.5rem;

    $card-content-padding: 1.25rem;

    $card-title-font-size: 1.5rem;
    $card-title-margin-bottom: 0.625rem;
    $card-title-color: #333;

    $card-description-font-size: 1rem;
    $card-description-color: #666;

    .card {
        width: $card-width;
        border-radius: $card-border-radius;
        overflow: hidden;
        box-shadow: $card-box-shadow;
        margin: $card-margin;
        user-select: none;
        transition:
            transform 0.3s ease,
            box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-0.313rem);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        }

        .card-image {
            width: $card-image-widht;
            height: $card-image-height;
            object-fit: cover;
        }

        .card-content {
            padding: $card-content-padding;
        }

        .card-title {
            font-size: $card-title-font-size;
            margin-bottom: $card-title-margin-bottom;
            color: $card-title-color;
        }

        .card-description {
            font-size: $card-description-font-size;
            color: $card-description-color;
        }
    }
</style>
